{% extends 'landing/base.html' %}

{% block title %}
    <title>Welcome</title>
{% endblock title %}

{% block jumbo %}
    <h1>Welcome to the Python Tutorial</h1>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <h1>This series will cover the fundamentals through basic projects</h1>
        <br>
        <p>My name is Adam Earle. In the before times I worked primarily with lighting in live entertainment.
        During that time I started casually studying programming, but when the pandemic hit I turned my focus 
        to python full time(well, after netflix, Tiger King ain't gonna watch itself). I am currently working on 
        some portfolio pieces so that I can start interviewing later in the spring.</p> <br>
        <p>Long story longer: I'm not an expert, I'm just a guy who knows some things and likes sharing. I'm pulling 
        exercises and other resources from the various courses I taken to present a condensed onboarding to the 
        python language. Admittedly, we are still working out the contents of the program, but I am expecting the 
        offering will be 4-6 weeks, with a combination of 1 on 1 video calls as well as consuming online resources
        such as youtube and codewars.</p><br>
        <p>This course is intended for absolute beginners. We will start with basic computere science concepts and 
        the fundamentals of python(including basic types, operators, and control flow). We will then progress through
        more advanced topics, building helpful programs and silly games, and culminate with a CRUD website. For those 
        unfamiliar, CRUD is a standard design pattern for websites, think of a simple blog where you can post, edit, and 
        delete content.</p><br>
        <p>As the course progresses we will tailor the specifics to individuall interests and strengths, helping to ensure 
        solid retention. While we will have a number of tangible projects at the end, the primary goal is to equip the 
        student with the tools necessary to continue their self-education with lessening outside assistance.</p>
    </div>
{% endblock content %}