{% extends 'landing/landing.html' %}

{% block title %}
    <title>Overview</title>
{% endblock title %}

{% block jumbo %}
    <h1>overview</h1>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <h2>Here is a bried synopsis of topics covered, more detail will be added as course is updated.</h2>
<pre># Python 

## Basic Types

* string
* int
* float
* boolean
* list
* dictionary
* set
* tuple

## Conditionals

* and
* or
* not
* < <=
* > >=
* xor?

## Doc Basics

* import
* def
* function call
* variable declaration
* main

## Control Flow

* if/elif/else
* for loop
* while loop
* break/continue/pass
* try/except/else/finally
* in

## Searches

* Binary

## Practice Projects

* string case reverser
* website multi search
* random number guesser
* cash
* mario
* caesar
* subsitution
* hangman
* tic tac toe
* dna
* basic resume site
* basic crud
</pre>
    </div>
{% endblock content %}