{% extends 'landing/base.html' %}

{% block title %}
    <title>All lessons</title>
{% endblock title %}

{% block jumbo %}
<div class="container">
    <h1 style="text-align:center">view all lessons</h1>
</div>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <div class="col-md-8">
        <h2>Current Lessons</h2>
        <ol>
            {% comment %} {% for item in cc %}
                {% if object in item.contents %}
                            <button class="collapsible list-group-item list-group-item-action">{{ item.chapter.name }}</button>
                {% else %}
                            <button class="collapsible list-group-item list-group-item">{{ item.chapter.name }}</button>
                {% endif %}
                <div class="content container innermenu innermenu-div">
                    {% for text in item.contents %}
                      <a href="{{ text.slug }}" class="innermenu innermenu-item">{{ text.name }}</a><br>
                    {% endfor %}
                </div>
            {% endfor %} {% endcomment %}
            <div class="lesson-list-outer">
                {% for item in cc %}
                    <h3>{{item.chapter.name }}</h3>
                    <div class="container lesson-list">
                        {% for text in item.contents %}
                            <h4>
                                <li><a href="{{ text.slug }}">{{ text.name }}</a></li>
                            </h4>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </ol>
        </div>
    </div>
{% endblock content %}