{% extends "landing/base.html" %}

{% block title %}
    <title>{{ lesson.slug }}</title>
{% endblock title %}

{% block jumbo %}
    <div class="container">
        <h1 style="text-align:center">python fast basics</h1>
    </div>
{% endblock jumbo %}

{% block content %}
<main class="container" role="main">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h2>{{ lesson.name }}</h2>
                            <small class="text-muted">Last updated: </small><small>{{ lesson.pub_date |date:"d F Y" }}</small>
                        </div>
                            {% for element in elements %}
                                {% if not element.code %}
                                    <p>{{ element.body|safe }}</p>
                                {% else %}
                                    <pre>{{ element.code }}</pre>
                                    <p>{{ element.body|safe }}</p>
                                {% endif %}
                            {% endfor %}
                    </div>
                </article>
            </div>
        </div>
        <div class="col-md-4">
            <ul>
                <div class="list-group">
                {% comment %} <span style="font-size:large, font-weight:bold; color:375A7F"><a href="#" class="list-group-item list-group-item-action active">lessons</a></span> {% endcomment %}
		<a href="{% url 'lessonlist' %}"><span style="font-size:large, font-weight:bold; color:375A7F" class="list-group-item list-group-item-action active">lessons</span></a>
                {% for lesson in lessons %}
                    <a href="{{ lesson.slug }}" class="list-group-item list-group-item-action">{{ lesson.name }}</a>
                {% endfor %}
                </div>
            </ul>
        </div>
    </div>
</main>
{% endblock content %}


{% comment %} {% block sidebar %}This is a test{% endblock sidebar %} {% endcomment %}

