{% extends 'landing/base.html' %}

{% block title %}
    <title>All lessons</title>
{% endblock title %}

{% block jumbo %}
<div class="container">
    <h1 style="text-align:center">view all lessons</h1>
</div>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <div class="col-md-8">
            <h2 style="color:#F29C12">Current Lessons</h2>
            <ul>
                <div class="lesson-list-outer">
                    {% for item in cc %}
                        <h3>{{item.chapter.name }}</h3>
                        <div class="container lesson-list">
                            <ol>
                                {% for text in item.contents %}
                                    <h4>
                                        <li><a href="{{ text.slug }}">{{ text.name }}</a></li>
                                    </h4>
                                {% endfor %}
                            </ol>
                        </div>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
{% endblock content %}
