{% extends "landing/base.html" %}
{% load static %}
{% load martortags %}
{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    {% comment %} <link href="{% static 'lessons/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" /> {% endcomment %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


{% endblock %}

{% block title %}
    <title>{{ lesson.slug }}</title>
{% endblock title %}

{% block jumbo %}
    <div class="container">
        <h1 style="text-align:center">python fast basics</h1>
    </div>
{% endblock jumbo %}

{% block content %}
<main class="container" role="main">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <article class="content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h2>{{ lesson.name }}</h2>
                            <small class="text-muted">Last updated: </small><small>{{ lesson.pub_date |date:"d F Y" }}</small>
                        </div>

                        <div class="martor-preview">
                            {% for element in elements %}
                                {% if not element.code %}
                                    <p>{{ element.body|safe_markdown }}</p>
                                {% else %}
                                    <pre>{{ element.code }}</pre>
                                    <p>{{ element.body|safe_markdown }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-md-4">
            <ul class="sidebar-center">
                
                <div>
                    <a href="{% url 'lessonlist' %}"><span style="font-size:large, font-weight:bold; color:375A7F" class="list-group-item list-group-item-action active">chapters</span></a> 
                </div>
                <div class="accordion" id="accordionExample">
                    {% for item in cc %}
                        <div class="accordion-item">
                            {% if object in item.contents %}
                                <button class="accordion-button list-group-item list-group-item-action active collapsed" id="heading{{ forloop.counter }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    {{ item.chapter.name }}
                                </button>
                            {% else %}
                                <button class="accordion-button list-group-item list-group-item collapsed" id="heading{{ forloop.counter }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    {{ item.chapter.name }}
                                </button> 
                            {% endif %}
                                <div class="accordion-collapse collapse container tester" id="collapse{{ forloop.counter }}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="accordionExample">
                                    <div class="innermenu innermenu-div">
                                        {% for text in item.contents %} 
                                           <a href="{{ text.slug }}" class="innermenu innermenu-item">{{ text.name }}</a><br>
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div> 
            </ul>

        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
{% endblock js %}
