{% extends 'landing/base.html' %}

{% block title %}
    <title>All lessons</title>
{% endblock title %}

{% block jumbo %}
<div class="container">
    <h1 style="text-align:center">view all lessons</h1>
</div>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <div class="col-md-8">
        <h2>Current Lessons</h2>
        <ol>
            {% for lesson in lessons %}
                <h3>
                    <li><a href="{% url 'lesson' lesson.slug %}">{{ lesson.name }}</a></li>
                </h3>
            {% endfor %}
        </ol>
        </div>
    </div>
{% endblock content %}